#wEmptyApp {
    height: 15rem;
    width: 50rem;
}

#newPieceBtn2 {
    height: 10rem;
    width: 37rem;
}

#newPieceForm {
    height: 20rem;
}

#addTagToPiece {
    height: 20rem;
}

#newPortfolioBtn {
    width: 50rem;
}

#newPortfolioForm {
    width: 50rem;
}

#addPieceToPortfolio {
    width: 50rem;
}

#gigFeed {
    width: 50rem;
}

#applyToGig {
    width: 50rem;
}

#three-down {
    margin-top: 3rem;
}

#fiveDown {
    margin-top: 5rem;
}

#sevenDown {
    margin-top: 7rem;
}

#ten {
    width: 10rem;
}

#twentyRem {
    width: 20rem;
}

#thirty {
    width: 30rem;
}

#fortyRem {
    width: 40rem;
}

#fiftyRem {
    width: 50rem;
}

#step-row {
    margin-bottom: 8rem;
    margin-top: 8rem;
}