#wEmptyApp {
    height: 15rem;
    width: 50rem;
}

#newPieceBtn2 {
    height: 10rem;
    width: 37rem;
}

#newPieceForm {
    height: 20rem;
}

#addTagToPiece {
    height: 20rem;
}

#newPortfolioBtn {
    height: 5rem;
    width: 30rem;
}