

#pictureBox {
    background-color: red;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#contactInfo {
    padding-top: 2rem;
    height: 15rem;
}

#pieces {
    background-color: green;
}

#applications {
    background-color: brown;
}

#feed {
    background-color: blue;
    height: 100rem;
}