#pictureBox {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#contactInfo {
    padding-top: 2rem;
    height: 15rem;
}

#feed {
    height: 23rem;
    outline: lightgray 1px solid;
    padding: 1rem;
}

#bio {
    height: 20rem;
    outline: lightgray 1px solid;
    padding-top: 2rem;
}

#pieces {
    height: 10rem;
    width: 30rem;
    margin-top: 0;
}