#profile-image {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

#name-col {
    margin-top: 2rem;
}

#status-col {
    margin: 2rem;
}

#status-icon {
    margin-right: 1rem;
    margin-top: .2rem;
}

#btn-col {
    margin-top: 2rem;
}

#query-btn {
    background-color: lightgrey;
    color: black;
    border: 2px solid slategray;
    padding: .3rem;
    border-radius: 5px;
}

#query-btn:hover {
    background-color: lightblue;
    color: white;
}

#edit-btn {
    background-color: grey;
    color: white;
    border: 2px solid lightgrey;
    padding: .3rem;
    border-radius: 5px;
}

#add-gig-btn {
    background-color: green;
    color: white;
    border: 2px solid lightgrey;
    padding: .3rem;
    border-radius: 5px;
}

#add-gig-btn:hover {
    background-color: lightgreen;
    color: black;
    border: 2px solid lightgrey;
    padding: .3rem;
    border-radius: 5px;
}

#follow-btn {
    background-color: green;
    color: white;
    border: 2px solid lightgrey;
    padding: .3rem;
    border-radius: 5px;
}

#unfollow-btn {
    background-color: red;
    color: white;
    border: 2px solid lightgrey;
    padding: .3rem;
    border-radius: 5px;
}

#follow-btn:hover {
    background-color: lightgreen;
    color: black;
}

#unfollow-btn:hover {
    background-color: pink;
    color: black;
}

#edit-btn:hover {
    background-color: lightgrey;
    color: black;
}

#platform-nav {
    margin-top: 2rem;
}

#info-row {
    margin-top: .5rem;
}

#open-gig-card {
    width: 20rem;
    margin: 2rem;
    text-align: center;
    padding: 1rem;
}

.list-group-item:hover, tr:hover {
    background-color: whitesmoke;
}

#feed-div {
    height: 30rem;
    width: 100%;
}